@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Poppins:wght@400;700&display=swap');


:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1, h2 {
  font-family: 'Fraunces', serif;
}

h1 {
  font-size: 3.2rem;
  line-height: 3.2rem;
  font-weight: 700;
}

h2 {
  font-size: 3.2rem;
  color: var(--Dark-cyan);
}

p, span {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  color: var(--Dark-grayish-blue);
}

/* Backgroun */

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  background-color: var(--Cream);
}

/* Card */

.card {
  display: flex;
  width: 100%;
  max-width: 600px;
}


/* Product Image */

.product-image {
  width: 50%;
  background: url("./images/image-product-desktop.jpg");
  background-size: cover;
}

.mobile-image {
  display: none;
}

/* Product Content */

.product-content {
  width: 50%;
  padding: 3.2rem;
  background-color: var(--White);
}

.heading {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.title {
  margin: 2rem auto 2.4rem auto;

}

.price {
  margin: 2.9rem auto 3rem auto;
}

.price > span {
  font-weight: 500;
  text-decoration: line-through;
  position: relative;
  left: 2rem;
  bottom: 0.6rem;
}

.add-to-cart {
  width: 100%;
  padding: 1.5rem;
  color: white;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--Dark-cyan);
  border-radius: 1rem;
  border-style: none;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: var(--Very-dark-blue);
}

.icon-cart {
  position: relative;
  right: 5px;
  top: 2px;
}



/* Mobile View */

@media only screen and (max-width: 550px) {
  .card {
    flex-direction: column;
    max-width: 375px;
    border-radius: 1rem;
  }

  .mobile-image {
    display:block;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }

  .product-content {
    width: 100%;
    padding: 2.4rem;
    border-radius: 0 0 1rem 1rem;
  }

  .product-title {
    margin: 2.4rem auto 1.2rem auto;
  }

  .price {
    margin: 2.4rem auto 2rem auto;
  }
}
